@use 'sass:math';
@import './breakpoints';

@mixin media($_screen) {
  @if $_screen == mobile {
    @media screen and (min-width: $mobile) {
      @content;
    }
  } @else if $_screen == desktop {
    @media screen and (min-width: $desktop) {
      @content;
    }
  }
}

@mixin font($_fsz, $_lnh) {
  font-size: #{$_fsz}px;
  $result: math.div($_lnh, $_fsz);
  line-height: math.div(math.round($result * 100), 100);
}

@mixin retina-background(
  $image,
  $retina-image,
  $repeat: null,
  $position: null,
  $size: null
) {
  background-image: url($image);
  @if $repeat {
    background-repeat: $repeat;
  }
  @if $position {
    background-position: $position;
  }
  @if $size {
    background-size: $size;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url($retina-image);

    @if $repeat {
      background-repeat: $repeat;
    }
    @if $position {
      background-position: $position;
    }
    @if $size {
      background-size: $size;
    }
  }
}
