$_body-text-color: #24292e;
$_title-text-color: #1c1c1c;
$_white-color: #fff;
$_bg--color: #f0fbff;
$_white-700-op-color: rgba(255, 255, 255, 0.7);
$_bg-color-2: #f7f7f7;
$_icon-color: #d10003;
$_bg-elements-color: #70ceff;
$_button-color: #1873cd;
$_second-bg-color-1: #feebcd;
$_second-bg--color-2: #e2fecd;
$_second-bg-color-3: #fff8cc;
$_second-button: #a8cff5;
$_second-bg-color-4: #fdd2ce;
$_hover-button-color: #1561ad;
$_pressed-button-color: #0e4376;
$_hover-sec-button-color: #89bdf1;
$_pressed-sec-button-color: #5ba4eb;
$_other-elements-color: #545454;
$_inactive-color: #c9cccf;
