<section class="about" id="about">
  <div class="container about-container">
    <h2 class="about-title">About This Game</h2>
    <p class="about-description">
      We are a team of passionate individuals dedicated to providing the best
      service possible.
    </p>
    <ul class="about-image-list">
      <li class="about-image-background">
        <img
          src="./img/about/airplane-4@1x.png"
          srcset="
            ./img/about/airplane-4@1x.png 1x,
            ./img/about/airplane-4@2x.png 2x
          "
          alt="Orange plane"
          class="about-image"
        />
      </li>
      <li class="about-image-background">
        <img
          src="../img/about/airplane-5@1x.png"
          alt="Green plane"
          class="about-image"
        />
      </li>
      <li class="about-image-background">
        <img
          src="../img/about/airplane-3@1x.png"
          alt="Red plane"
          class="about-image"
        />
      </li>
      <li class="about-image-background">
        <img
          src="../img/about/airplane-6@1x.png"
          alt="Yellow plane"
          class="about-image"
        />
      </li>
    </ul>
    <p class="about-description about-description-bottom">
      Start with a single plane, and through intelligent merging and upgrading,
      build a sky-dominating fleet. Each aircraft brings something new to the
      table, and every upgrade gets you closer to aviation greatness. Whether
      you play for a few minutes or for hours, the fun is non-stop!
    </p>
  </div>
</section>
