<section class="benefits" id="benefits">
  <div class="container benefits-container">
    <h2 class="benefits-title">Benefits</h2>
    <ul class="benefits-list">
      <li class="benefit-card">
        <div class="benefit-header">
          <svg class="benefits-icon" aria-label="Gamepad icon">
            <use href="./img/sprite.svg#icon-gamepad"></use>
          </svg>
          <h3 class="benefits-item-title">Simple Yet Addictive Gameplay</h3>
        </div>
        <p class="benefits-text">
          Intuitive drag-and-merge mechanics that anyone can enjoy
        </p>
      </li>
      <li class="benefit-card">
        <div class="benefit-header">
          <svg class="benefits-icon" aria-label="Improvement icon">
            <use href="./img/sprite.svg#icon-improvement"></use>
          </svg>
          <h3 class="benefits-item-title">Collect & Upgrade Planes</h3>
        </div>
        <p class="benefits-text">
          Discover a wide variety of uniquely designed airplanes
        </p>
      </li>
      <li class="benefit-card">
        <div class="benefit-header">
          <svg class="benefits-icon" aria-label="Idle fun icon">
            <use href="./img/sprite.svg#icon-idle-fun"></use>
          </svg>
          <h3 class="benefits-item-title">Endless Idle Fun</h3>
        </div>
        <p class="benefits-text">
          Earn rewards and progress even when you're away from the game
        </p>
      </li>
      <li class="benefit-card">
        <div class="benefit-header">
          <svg class="benefits-icon" aria-label="Visualisazion icon">
            <use href="./img/sprite.svg#icon-visualization"></use>
          </svg>
          <h3 class="benefits-item-title">Captivating Visuals</h3>
        </div>
        <p class="benefits-text">
          Beautifully rendered planes and vibrant environments bring your hangar
          to life
        </p>
      </li>
      <li class="benefit-card">
        <div class="benefit-header">
          <svg class="benefits-icon" aria-label="Relaxation icon">
            <use href="./img/sprite.svg#icon-relaxation"></use>
          </svg>
          <h3 class="benefits-item-title">Stress-Free Relaxation</h3>
        </div>
        <p class="benefits-text">
          A calm and satisfying experience, ideal for winding down
        </p>
      </li>
      <li class="benefit-card">
        <div class="benefit-header">
          <svg class="benefits-icon" aria-label="Play icon">
            <use href="./img/sprite.svg#icon-play"></use>
          </svg>
          <h3 class="benefits-item-title">Progress at Your Own Pace</h3>
        </div>
        <p class="benefits-text">
          Whether you're a casual player or a merging master, this game fits
          your schedule
        </p>
      </li>
    </ul>
  </div>
</section>
