<section class="benefits">
  <div class="container benefits-container">
    <h1 class="benefits-title" id="benefits">Benefits</h1>
    <ul class="benefits-list">
      <li class="benefit-card">
        <div class="benefit-header">
          <svg class="benefits-icon">
            <use href="./img/sprite.svg#icon-gamepad"></use>
          </svg>
          <h2 class="benefits-item-title">Simple Yet Addictive Gameplay</h2>
        </div>
        <p class="benefits-text">
          Intuitive drag-and-merge mechanics that anyone can enjoy
        </p>
      </li>
      <li class="benefit-card">
        <div class="benefit-header">
          <svg class="benefits-icon">
            <use href="./img/sprite.svg#icon-improvement"></use>
          </svg>
          <h2 class="benefits-item-title">Collect & Upgrade Planes</h2>
        </div>
        <p class="benefits-text">
          Discover a wide variety of uniquely designed airplanes
        </p>
      </li>
      <li class="benefit-card">
        <div class="benefit-header">
          <svg class="benefits-icon" width="30" height="30">
            <use fill="#d10003" href="./img/sprite.svg#icon-idle-fun"></use>
          </svg>
          <h2 class="benefits-item-title">Endless Idle Fun</h2>
        </div>
        <p class="benefits-text">
          Earn rewards and progress even when you're away from the game
        </p>
      </li>
      <li class="benefit-card">
        <div class="benefit-header">
          <svg class="benefits-icon" width="30" height="30">
            <use href="./img/sprite.svg#icon-visualization"></use>
          </svg>
          <h2 class="benefits-item-title">Captivating Visuals</h2>
        </div>
        <p class="benefits-text">
          Beautifully rendered planes and vibrant environments bring your hangar
          to life
        </p>
      </li>
      <li class="benefit-card">
        <div class="benefit-header">
          <svg class="benefits-icon" width="30" height="30">
            <use href="./img/sprite.svg#icon-relaxation"></use>
          </svg>
          <h2 class="benefits-item-title">Stress-Free Relaxation</h2>
        </div>
        <p class="benefits-text">
          A calm and satisfying experience, ideal for winding down
        </p>
      </li>
      <li class="benefit-card">
        <div class="benefit-header">
          <svg class="benefits-icon">
            <use href="./img/sprite.svg#icon-play"></use>
          </svg>
          <h2 class="benefits-item-title">Progress at Your Own Pace</h2>
        </div>
        <p class="benefits-text">
          Whether you're a casual player or a merging master, this game fits
          your schedule
        </p>
      </li>
    </ul>
  </div>
</section>
