<div
  class="cookies-container"
  data-accept-cookies
  data-is-cookies-visible="false"
>
  <div class="cookies-wrapper">
    <h2 class="cookies-head">Cookies Policy</h2>
    <p class="cookies-desc">
      We use cookies to improve your experience on our website. By browsing this
      website, you agree to our use of cookies.
    </p>
    <div class="button-wrapper">
      <button
        type="button"
        aria-label="ACCEPT COOKIES"
        class="cookies-button"
        data-is-accept="true"
      >
        ACCEPT COOKIES
      </button>
      <button
        type="button"
        aria-label="DECLINE COOKIES"
        class="cookies-button"
        data-is-accept="false"
      >
        DECLINE COOKIES
      </button>
    </div>
  </div>
</div>
