<section class="section" id="faq">
  <div class="container">
    <h2 class="faq-head">FAQ</h2>
    <ul class="faq-list" data-faq-list>
      <li class="faq-list-item" data-is-open="false">
        <div class="faq-wrapper">
          <h3 class="faq-item-head">
            Is Plane Merge: Idle Merging Game free to play?
          </h3>
          <p class="faq-answer">
            Yes, it’s completely free with optional in-app purchases for faster
            progress and customization
          </p>
        </div>
        <button
          type="button"
          class="faq-spoiler-button"
          aria-label="Open spoiler button"
        >
          <svg width="32" height="32">
            <use href="img/sprite.svg#icon-down-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="faq-list-item" data-is-open="false">
        <div class="faq-wrapper">
          <h3 class="faq-item-head">Can I play offline?</h3>
          <p class="faq-answer">
            Yes! The game supports offline play and continues earning rewards
            while you're away
          </p>
        </div>
        <button
          type="button"
          class="faq-spoiler-button"
          aria-label="Open spoiler button"
        >
          <svg width="32" height="32">
            <use></use>
          </svg>
        </button>
      </li>
      <li class="faq-list-item" data-is-open="false">
        <div class="faq-wrapper">
          <h3 class="faq-item-head">Is this game suitable for kids?</h3>
          <p class="faq-answer">
            Absolutely. It’s family-friendly and easy to learn for all ages
          </p>
        </div>
        <button
          type="button"
          class="faq-spoiler-button"
          aria-label="Open spoiler button"
        >
          <svg width="32" height="32">
            <use></use>
          </svg>
        </button>
      </li>
      <li class="faq-list-item" data-is-open="false">
        <div class="faq-wrapper">
          <h3 class="faq-item-head">How many planes can I unlock?</h3>
          <p class="faq-answer">
            There are dozens of unique aircraft to discover, with more added in
            updates
          </p>
        </div>
        <button
          type="button"
          class="faq-spoiler-button"
          aria-label="Open spoiler button"
        >
          <svg width="32" height="32">
            <use></use>
          </svg>
        </button>
      </li>
      <li class="faq-list-item" data-is-open="false">
        <div class="faq-wrapper">
          <h3 class="faq-item-head">Does it require constant attention?</h3>
          <p class="faq-answer">
            Not at all! The idle mechanics ensure progress even during short
            sessions or breaks
          </p>
        </div>
        <button
          type="button"
          class="faq-spoiler-button"
          aria-label="Open spoiler button"
        >
          <svg width="32" height="32">
            <use></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
