<section class="feature" id="feature">
  <div class="container feature-container">
    <h2 class="feature-title">Feature Keys</h2>
    <ul class="feature-list">
      <li class="feature-item">
        <picture class="gallery-slide-picture">
          <source
            media="(min-width: 1200px)"
            srcset="
              img/feature/feature-1-desktop@1x.jpg 1x,
              img/feature/feature-1-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px) and (max-width: 1199px)"
            srcset="
              img/feature/feature-1@1x.jpg 1x,
              img/feature/feature-1@2x.jpg 2x
            "
          />
          <img
            src="img/feature/feature-1@1x.jpg"
            alt="Merge to Evolve"
            class="feature-img"
          />
        </picture>
        <h3 class="feature-item-title">Merge to Evolve</h3>
        <p class="feature-text">
          Combine two identical planes to unlock upgraded and more powerful
          models
        </p>
      </li>

      <li class="feature-item">
        <picture class="gallery-slide-picture">
          <source
            media="(min-width: 1200px)"
            srcset="
              img/feature/feature-2-desktop@1x.jpg 1x,
              img/feature/feature-2-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px) and (max-width: 1199px)"
            srcset="
              img/feature/feature-2@1x.jpg 1x,
              img/feature/feature-2@2x.jpg 2x
            "
          />
          <img
            src="img/feature/feature-2@1x.jpg"
            alt="Fleet Expansion"
            class="feature-img"
          />
        </picture>
        <h3 class="feature-item-title">Fleet Expansion</h3>
        <p class="feature-text">
          Continuously build your hangar with new aircraft to dominate the skies
        </p>
      </li>

      <li class="feature-item">
        <picture class="gallery-slide-picture">
          <source
            media="(min-width: 1200px)"
            srcset="
              img/feature/feature-3-desktop@1x.jpg 1x,
              img/feature/feature-3-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px) and (max-width: 1199px)"
            srcset="
              img/feature/feature-3@1x.jpg 1x,
              img/feature/feature-3@2x.jpg 2x
            "
          />
          <img
            src="img/feature/feature-3@1x.jpg"
            alt="Idle Rewards"
            class="feature-img"
          />
        </picture>
        <h3 class="feature-item-title">Idle Rewards</h3>
        <p class="feature-text">
          Your fleet earns coins even while you're offline — progress
          effortlessly
        </p>
      </li>

      <li class="feature-item">
        <picture class="gallery-slide-picture">
          <source
            media="(min-width: 1200px)"
            srcset="
              img/feature/feature-4-desktop@1x.jpg 1x,
              img/feature/feature-4-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px) and (max-width: 1199px)"
            srcset="
              img/feature/feature-4@1x.jpg 1x,
              img/feature/feature-4@2x.jpg 2x
            "
          />
          <img
            src="img/feature/feature-4@1x.jpg"
            alt="Plane Variety"
            class="feature-img"
          />
        </picture>
        <h3 class="feature-item-title">Plane Variety</h3>
        <p class="feature-text">
          From quirky jets to elite aircraft, every plane has a unique look and
          feel
        </p>
      </li>

      <li class="feature-item">
        <picture class="gallery-slide-picture">
          <source
            media="(min-width: 1200px)"
            srcset="
              img/feature/feature-5-desktop@1x.jpg 1x,
              img/feature/feature-5-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px) and (max-width: 1199px)"
            srcset="
              img/feature/feature-5@1x.jpg 1x,
              img/feature/feature-5@2x.jpg 2x
            "
          />
          <img
            src="img/feature/feature-5@1x.jpg"
            class="feature-img"
            alt="Strategic Planning"
          />
        </picture>
        <h3 class="feature-item-title">Strategic Planning</h3>
        <p class="feature-text">
          Balance your merges, upgrades, and economy to maximize efficiency
        </p>
      </li>

      <li class="feature-item">
        <picture class="gallery-slide-picture">
          <source
            media="(min-width: 1200px)"
            srcset="
              img/feature/feature-6-desktop@1x.jpg 1x,
              img/feature/feature-6-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px) and (max-width: 1199px)"
            srcset="
              img/feature/feature-6@1x.jpg 1x,
              img/feature/feature-6@2x.jpg 2x
            "
          />
          <img
            src="img/feature/feature-6@1x.jpg"
            class="feature-img"
            alt="Accessible & Engaging"
          />
        </picture>
        <h3 class="feature-item-title">Accessible & Engaging</h3>
        <p class="feature-text">
          Designed for all age groups and skill levels with no pressure
        </p>
      </li>
    </ul>
  </div>
</section>
