<footer class="footer">
  <div class="container">
    <ul class="footer-list-privacy">
      <li class="footer-item">
        <a href="/privacy-policy.html" class="footer-privacy">Privacy Policy</a>
      </li>
      <li class="footer-item">
        <a href="/terms-and-conditions.html" class="footer-privacy"
          >Terms & Conditions</a
        >
      </li>
      <li class="footer-item">
        <a href="/cookies-policy.html" class="footer-privacy">Cookie Policy</a>
      </li>
    </ul>
    <a href="" class="footer-link">All Rights Reserved fbponasosc.xyz</a>
    2025
  </div>
</footer>
