<header class="section header">
  <div class="container header-container" data-type="header-container">
    <div class="wrapper">
      <button
        class="burger-menu-button"
        type="button"
        data-class="burger-btn"
        data-action="open"
        aria-label="Open mobile menu"
      >
        <svg class="burger-menu-button-icon" width="32" height="32">
          <use href="img/sprite.svg#icon-menu"></use>
        </svg>
      </button>
      <a href="index.html">
        <picture>
          <source
            srcset="
              /img/header/logo-header@1x.jpg 1x,
              /img/header/logo-header@2x.jpg 2x
            "
          />
          <img src="/img/header/logo-header@1x.jpg" alt="planer logo" />
        </picture>
      </a>
      <nav class="nav">
        <ul class="nav-links">
          <li><a data-class="header-nav-link" href="index.html">Home</a></li>
          <li><a data-class="header-nav-link" href="#benefits">Benefits</a></li>
          <li>
            <a data-class="header-nav-link" href="#feature">Feature Keys</a>
          </li>
          <li>
            <a data-class="header-nav-link" href="#about">About This Game</a>
          </li>
          <li><a data-class="header-nav-link" href="#howto">How to Play</a></li>
          <li><a data-class="header-nav-link" href="#faq">FAQ</a></li>
          <li><a data-class="header-nav-link" href="#reviews">Reviews</a></li>
          <li><a data-class="header-nav-link" href="#gallery">Gallery</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
