<header data-class="section">
  <div data-class="container">
    <img src="" alt="" srcset="" />
    <nav data-class="nav">
      <button type="button" data-class="burger-btn" data-action="open">
        Burger menu
      </button>
      <ul>
        <li><a data-class="header-nav-link" href="index.html">Home</a></li>
        <li><a data-class="header-nav-link" href="#benefits">Benefits</a></li>
        <li>
          <a data-class="header-nav-link" href="#feature">Feature Keys</a>
        </li>
        <li>
          <a data-class="header-nav-link" href="#about">About This Game</a>
        </li>
        <li><a data-class="header-nav-link" href="#howto">How to Play</a></li>
        <li><a data-class="header-nav-link" href="#faq">FAQ</a></li>
        <li><a data-class="header-nav-link" href="#reviews">Reviews</a></li>
        <li><a data-class="header-nav-link" href="#gallery">Gallery</a></li>
      </ul>
      <button type="button" class="btn-close" data-action="close">svg</button>
    </nav>
  </div>
</header>
