<section class="section hero">
  <div class="container hero-container">
    <div class="hero-picture-thumb">
      <picture class="picture-container">
        <source
          media="(min-width: 1200px)"
          srcset="
            img/hero/Plane-desktop@1x.png 1x,
            img/hero/Plane-desktop@2x.png 2x
          "
        />
        <source
          media="(min-width: 320px) and (max-width: 1199px)"
          srcset="img/hero/Plane@1x.png 1x, img/hero/Plane@2x.png 2x"
        />
        <img
          class="hero-picture"
          src="img/hero/Plane@1x.png"
          width="320"
          height="320"
          alt="Plane image"
        />
      </picture>
    </div>
    <div class="hero-wrapper">
      <h1 class="hero-head">
        Plane Merge: Idle Merging Game – Build, Merge, and Rule the Skies!
      </h1>
      <div class="wrap-description">
        <a
          href="https://play.google.com/store/apps/details?id=plane.merge.idle.game&hl=en&gl=us"
          class="hero-playmarket-button"
          target="_blank"
          rel="noopener noreferrer"
        >
          <picture>
            <source
              srcset="
                img/hero/playstore@1x.png 1x,
                img/hero/playstore@2x.png 2x
              "
            />
            <img
              src="img/hero/playstore@1x.png"
              alt="Plane image"
              width="21"
              height="24"
            />
          </picture>
          <div class="market-wrapper">
            <span class="playmarket-link-desc">GET IT ON</span>
            <picture>
              <source
                srcset="
                  img/hero/google-play@1x.png 1x,
                  img/hero/google-play@2x.png 2x
                "
              />
              <img
                src="img/hero/google-play@1x.png"
                alt="Plane image"
                width="74"
                height="15"
              />
            </picture>
          </div>
        </a>
        <p class="hero-description">
          Take to the skies in Plane Merge: Idle Merging Game, the perfect mix
          of merging fun and idle strategy! Begin your journey with a small
          plane, and build a powerful sky fleet by merging aircraft to unlock
          bigger, better, and faster models. Whether you're an aviation fan or a
          casual gamer, this relaxing yet engaging game will keep you flying
          high. The sky isn’t the limit—it’s just the beginning!
        </p>
      </div>
    </div>
  </div>
</section>
