<section class="section" id="howto">
  <div class="container">
    <h2 class="howto-head">How to Play</h2>
    <ol class="howto-list">
      <li class="howto-list-item">
        <div class="item-content-wrapper">
          <picture class="howto-planer-picture">
            <source
              media="(min-width: 1200px)"
              srcset="
                img/howto/airplane-trail@1x.png 1x,
                img/howto/airplane-trail@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px) and (max-width: 1199px)"
              srcset="
                img/howto/airplane-trail-mob@1x.png 1x,
                img/howto/airplane-trail-mob@2x.png 2x
              "
            />
            <img
              class="howto-planer-img"
              src="img/howto/airplane-trail-mob@1x.png"
              alt="Flying airplane"
              width="224"
              height="56"
            />
          </picture>
          <div class="howto-desc-container">
            <p class="howto-desc-head">Drag & Merge</p>
            <p class="howto-desc">
              Merge two identical planes to unlock a higher-level aircraft
            </p>
          </div>
        </div>
      </li>
      <li class="howto-list-item">
        <div class="item-content-wrapper">
          <picture class="howto-planer-picture">
            <source
              media="(min-width: 1200px)"
              srcset="
                img/howto/airplane-trail@1x.png 1x,
                img/howto/airplane-trail@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px) and (max-width: 1199px)"
              srcset="
                img/howto/airplane-trail-mob@1x.png 1x,
                img/howto/airplane-trail-mob@2x.png 2x
              "
            />
            <img
              class="howto-planer-img"
              src="img/howto/airplane-trail-mob@1x.png"
              alt="Flying airplane"
              width="224"
              height="56"
            />
          </picture>
          <div class="howto-desc-container">
            <p class="howto-desc-head">Earn & Upgrade</p>
            <p class="howto-desc">
              Use earned coins to buy new planes or speed up your progress
            </p>
          </div>
        </div>
      </li>
      <li class="howto-list-item">
        <div class="item-content-wrapper">
          <picture class="howto-planer-picture">
            <source
              media="(min-width: 1200px)"
              srcset="
                img/howto/airplane-trail@1x.png 1x,
                img/howto/airplane-trail@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px) and (max-width: 1199px)"
              srcset="
                img/howto/airplane-trail-mob@1x.png 1x,
                img/howto/airplane-trail-mob@2x.png 2x
              "
            />
            <img
              class="howto-planer-img"
              src="img/howto/airplane-trail-mob@1x.png"
              alt="Flying airplane"
              width="224"
              height="56"
            />
          </picture>
          <div class="howto-desc-container">
            <p class="howto-desc-head">Idle Progression</p>
            <p class="howto-desc">
              Keep earning even when the game is closed—check in anytime!
            </p>
          </div>
        </div>
      </li>
      <li class="howto-list-item">
        <div class="item-content-wrapper">
          <picture class="howto-planer-picture">
            <source
              media="(min-width: 1200px)"
              srcset="
                img/howto/airplane-trail@1x.png 1x,
                img/howto/airplane-trail@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px) and (max-width: 1199px)"
              srcset="
                img/howto/airplane-trail-mob@1x.png 1x,
                img/howto/airplane-trail-mob@2x.png 2x
              "
            />
            <img
              class="howto-planer-img"
              src="img/howto/airplane-trail-mob@1x.png"
              alt="Flying airplane"
              width="224"
              height="56"
            />
          </picture>
          <div class="howto-desc-container">
            <p class="howto-desc-head">Expand Your Fleet</p>
            <p class="howto-desc">
              Collect rare and epic planes to complete your collection
            </p>
          </div>
        </div>
      </li>
      <li class="howto-list-item">
        <div class="item-content-wrapper">
          <picture class="howto-planer-picture">
            <source
              media="(min-width: 1200px)"
              srcset="
                img/howto/airplane-trail@1x.png 1x,
                img/howto/airplane-trail@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px) and (max-width: 1199px)"
              srcset="
                img/howto/airplane-trail-mob@1x.png 1x,
                img/howto/airplane-trail-mob@2x.png 2x
              "
            />
            <img
              class="howto-planer-img"
              src="img/howto/airplane-trail-mob@1x.png"
              alt="Flying airplane"
              width="224"
              height="56"
            />
          </picture>
          <div class="howto-desc-container">
            <p class="howto-desc-head">Relax and Enjoy</p>
            <p class="howto-desc">
              Play at your own pace in a soothing and enjoyable gameplay loop
            </p>
          </div>
        </div>
      </li>
    </ol>
  </div>
</section>
