<div class="modal-window" data-action="isClose" data-type="mobile-menu-overlay">
  <div class="modal-wrapper">
    <button
      type="button"
      class="close-menu-button"
      data-action="close"
      data-type="mobile-menu-closeBtn"
      aria-label="Close menu"
    >
      <svg class="close-menu-button-icon" width="32" height="32">
        <use href="img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <nav data-class="modal-nav">
      <ul class="modal-nav-list" data-mobile-nav>
        <li>
          <a
            class="modal-nav-link"
            data-section-id="hero"
            data-visibility="true"
            href="index.html"
            >Home</a
          >
        </li>
        <li>
          <a
            class="modal-nav-link"
            data-visibility="false"
            data-section-id="benefits"
            href="#benefits"
            >Benefits</a
          >
        </li>
        <li>
          <a
            class="modal-nav-link"
            data-visibility="false"
            data-section-id="feature"
            href="#feature"
            >Feature Keys</a
          >
        </li>
        <li>
          <a
            class="modal-nav-link"
            data-visibility="false"
            data-section-id="about"
            href="#about"
            >About This Game</a
          >
        </li>
        <li>
          <a
            class="modal-nav-link"
            data-visibility="false"
            data-section-id="howto"
            href="#howto"
            >How to Play</a
          >
        </li>
        <li>
          <a
            class="modal-nav-link"
            data-visibility="false"
            data-section-id="faq"
            href="#faq"
            >FAQ</a
          >
        </li>
        <li>
          <a
            class="modal-nav-link"
            data-visibility="false"
            data-section-id="reviews"
            href="#reviews"
            >Reviews</a
          >
        </li>
        <li>
          <a
            class="modal-nav-link"
            data-visibility="false"
            data-section-id="gallery"
            href="#gallery"
            >Gallery</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
