<section class="section">
  <div class="container">
    <h2 class="reviews-head">Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-slide-item">
        <div class="slider-container">
          <picture class="review-avatar">
            <source srcset="" />
            <img src="" alt="" />
          </picture>
          <div class="review-description-wrapper">
            <p class="review-name"></p>
            <p class="review-description"></p>
          </div>
        </div>
      </li>
      <li>
        <div class="slider-container">
          <picture>
            <source srcset="" />
            <img src="" alt="" />
          </picture>
          <div class="review-description-wrapper">
            <p></p>
            <p></p>
          </div>
        </div>
      </li>
      <li>
        <div class="slider-container">
          <picture>
            <source srcset="" />
            <img src="" alt="" />
          </picture>
          <div class="review-description-wrapper">
            <p></p>
            <p></p>
          </div>
        </div>
      </li>
      <li>
        <div class="slider-container">
          <picture>
            <source srcset="" />
            <img src="" alt="" />
          </picture>
          <div class="review-description-wrapper">
            <p></p>
            <p></p>
          </div>
        </div>
      </li>
      <li>
        <div class="slider-container">
          <picture>
            <source srcset="" />
            <img src="" alt="" />
          </picture>
          <div class="review-description-wrapper">
            <p></p>
            <p></p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
