<section class="section reviews-section" id="reviews" data-section>
  <div class="container reviews-container">
    <h2 class="reviews-head">Reviews</h2>
    <div class="review-swiper-container" data-swiper>
      <ul class="reviews-list" data-swiper-wrapper>
        <li class="reviews-slide-item" data-swiper-slide>
          <div class="rewiew-slide-wrapper">
            <div class="slider-container">
              <div class="rewiew-avatar-thumb">
                <picture class="review-avatar">
                  <source
                    media="(min-width: 1200px)"
                    srcset="
                      img/reviews/emily-desktop@1x.jpg 1x,
                      img/reviews/emily-desktop@2x.jpg 2x
                    "
                  />
                  <source
                    media="(min-width: 320px) and (max-width: 1199px)"
                    srcset="
                      img/reviews/emily-mobile@1x.jpg 1x,
                      img/reviews/emily-mobile@2x.jpg 2x
                    "
                  />
                  <img
                    src="img/reviews/emily-mobile@1x.jpg"
                    class="review-avatar-img"
                    width="115"
                    height="160"
                    alt="Avatar of Emily Carter"
                  />
                </picture>
              </div>
              <div class="review-description-wrapper">
                <div class="reviews-name-wrapper">
                  <p class="review-name">Emily Carter</p>
                  <svg class="reviews-quote-icon">
                    <use href="/img/sprite.svg#icon-quote"></use>
                  </svg>
                </div>
                <p class="review-description">
                  I love collecting and merging planes. It’s so relaxing, and I
                  can play while commuting
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="reviews-slide-item">
          <div class="rewiew-slide-wrapper">
            <div class="slider-container">
              <div class="rewiew-avatar-thumb">
                <picture>
                  <source
                    media="(min-width: 1200px)"
                    srcset="
                      img/reviews/james-desktop@1x.jpg 1x,
                      img/reviews/james-desktop@2x.jpg 2x
                    "
                  />
                  <source
                    media="(min-width: 320px) and (max-width: 1199px)"
                    srcset="
                      img/reviews/james-mobile@1x.jpg 1x,
                      img/reviews/james-mobile@2x.jpg 2x
                    "
                  />
                  <img
                    src="img/reviews/james-mobile@1x.jpg"
                    class="review-avatar-img"
                    width="115"
                    height="160"
                    alt="Avatar of James Liu"
                  />
                </picture>
              </div>
              <div class="review-description-wrapper">
                <div class="reviews-name-wrapper">
                  <p class="review-name">James Liu</p>
                  <svg class="reviews-quote-icon">
                    <use href="/img/sprite.svg#icon-quote"></use>
                  </svg>
                </div>
                <p class="review-description">
                  Finally, a merge game that looks great and feels satisfying.
                  The idle rewards are generous too!
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="reviews-slide-item">
          <div class="rewiew-slide-wrapper">
            <div class="slider-container">
              <div class="rewiew-avatar-thumb">
                <picture>
                  <source
                    media="(min-width: 1200px)"
                    srcset="
                      img/reviews/sophia-desktop@1x.jpg 1x,
                      img/reviews/sophia-desktop@2x.jpg 2x
                    "
                  />
                  <source
                    media="(min-width: 320px) and (max-width: 1199px)"
                    srcset="
                      img/reviews/sophia-mobile@1x.jpg 1x,
                      img/reviews/sophia-mobile@2x.jpg 2x
                    "
                  />
                  <img
                    src="img/reviews/sophia-mobile@1x.jpg"
                    class="review-avatar-img"
                    width="115"
                    height="160"
                    alt="Avatar of Sophia Nguyen"
                  />
                </picture>
              </div>
              <div class="review-description-wrapper">
                <div class="reviews-name-wrapper">
                  <p class="review-name">Sophia Nguyen</p>
                  <svg class="reviews-quote-icon">
                    <use href="/img/sprite.svg#icon-quote"></use>
                  </svg>
                </div>
                <p class="review-description">
                  Super easy to get into and really fun to watch my fleet grow
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="reviews-slide-item">
          <div class="rewiew-slide-wrapper">
            <div class="slider-container">
              <div class="rewiew-avatar-thumb">
                <picture>
                  <source
                    media="(min-width: 1200px)"
                    srcset="
                      img/reviews/daniel-desktop@1x.jpg 1x,
                      img/reviews/daniel-desktop@2x.jpg 2x
                    "
                  />
                  <source
                    media="(min-width: 320px) and (max-width: 1199px)"
                    srcset="
                      img/reviews/daniel-mobile@1x.jpg 1x,
                      img/reviews/daniel-mobile@2x.jpg 2x
                    "
                  />
                  <img
                    src="img/reviews/daniel-mobile@1x.jpg"
                    class="review-avatar-img"
                    width="115"
                    height="160"
                    alt="Avatar of Daniel Romero"
                  />
                </picture>
              </div>
              <div class="review-description-wrapper">
                <div class="reviews-name-wrapper">
                  <p class="review-name">Daniel Romero</p>
                  <svg class="reviews-quote-icon">
                    <use href="/img/sprite.svg#icon-quote"></use>
                  </svg>
                </div>
                <p class="review-description">
                  The plane designs are really creative, and I always look
                  forward to what I unlock next
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="reviews-slide-item">
          <div class="rewiew-slide-wrapper">
            <div class="slider-container">
              <div class="rewiew-avatar-thumb">
                <picture>
                  <source
                    media="(min-width: 1200px)"
                    srcset="
                      img/reviews/olivia-desktop@1x.jpg 1x,
                      img/reviews/olivia-desktop@2x.jpg 2x
                    "
                  />
                  <source
                    media="(min-width: 320px) and (max-width: 1199px)"
                    srcset="
                      img/reviews/olivia-mobile@1x.jpg 1x,
                      img/reviews/olivia-mobile@2x.jpg 2x
                    "
                  />
                  <img
                    src="img/reviews/olivia-mobile@1x.jpg"
                    class="review-avatar-img"
                    width="115"
                    height="160"
                    alt="Avatar of Olivia Bennett"
                  />
                </picture>
              </div>
              <div class="review-description-wrapper">
                <div class="reviews-name-wrapper">
                  <p class="review-name">Olivia Bennett</p>
                  <svg class="reviews-quote-icon">
                    <use href="/img/sprite.svg#icon-quote"></use>
                  </svg>
                </div>
                <p class="review-description">
                  Great for casual play. No stress, just simple merging fun and
                  a nice progression curve
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="reviews-swiper-pagination" data-swiper-pagination></div>
    </div>
    <button
      type="button"
      class="reviews-swiper-button-nav"
      data-swipe-left
      data-swipe-button
      aria-label="Swipe left button"
    >
      <svg class="reviews-swiper-button-icon">
        <use href="/img/sprite.svg#icon-arow"></use>
      </svg>
    </button>
    <button
      type="button"
      class="reviews-swiper-button-nav"
      data-swipe-right
      data-swipe-button
      aria-label="Swipe right button"
    >
      <svg class="reviews-swiper-button-icon">
        <use href="/img/sprite.svg#icon-arow"></use>
      </svg>
    </button>
  </div>
</section>
