.about-container {
  @include retina-background(
    '../img/about/about-bg@1x.png',
    '../img/about/about-bg@2x.png',
    no-repeat,
    top
  );
  background-size: 100%;
  @include media(desktop) {
    @include retina-background(
      '../img/about/about-bg-desktop@1x.png',
      '../img/about/about-bg-desktop@2x.png',
      no-repeat,
      top
    );
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 64px;
  @include media(desktop) {
    padding: 104px 142px 40px 142px;
    gap: 40px;
  }
}

.about-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  letter-spacing: -0.02em;
  @include font(24, 33);

  background: linear-gradient(180deg, #145ca4 42.79%, #2597f3 74.04%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include media(desktop) {
    @include font(40, 55);
  }
}

.about-description {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: #24292e;
  @include font(14, 22);
  @include media(desktop) {
    display: none;
  }
}

.about-description-desktop {
  display: none;
  @include media(desktop) {
    display: block;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;

    @include font(20, 28);
  }
}
.about-image-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  height: 400px;

  @include media(desktop) {
    width: 859px;
    height: 302px;
    display: flex;
    align-items: center;
    margin: 0;
  }
}

.about-image-background {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  height: 190px;
  @include media(desktop) {
    border-radius: 20px;
    width: 200px;
    height: 280px;
  }
}

.about-image-list li {
  &:nth-child(1) {
    transform: rotate(7deg);
    background-color: #ffe5d3;
  }
  &:nth-child(2) {
    transform: rotate(-7deg);
    background-color: #d4edda;
  }
  &:nth-child(3) {
    transform: rotate(-7deg);
    background: #fdd2ce;
    @include media(desktop) {
      transform: rotate(7deg);
    }
  }
  &:nth-child(4) {
    transform: rotate(7deg);
    background: #fff8cc;
    @include media(desktop) {
      transform: rotate(-7deg);
    }
  }
}

.about-image {
  display: block;
  max-width: 100%;
  height: auto;
}
