body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  gap: 48px;
}

main {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  margin: 0;
  gap: 48px;
}

@media only screen and (min-width: 1200px) {
  body {
    gap: 80px;
  }

  main {
    gap: 80px;
  }
}
