:root {
  --font-family: 'Work Sans', sans-serif;
  --second-family: 'Nunito', sans-serif;
  --third-family: 'Product Sans', sans-serif;

  font-family: var(--font-family);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: $_body-text-color;
  background-color: $_bg--color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  margin: 0;
}

main > section {
  margin-bottom: 48px;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 24px;
  letter-spacing: -0.02em;

  @include media(desktop) {
    font-size: 40px;
  }
}

h2 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;

  @include media(desktop) {
    font-size: 20px;
  }
}
