:root {
  --font-family: 'Work Sans', sans-serif;
  --second-family: 'Nunito', sans-serif;
  --third-family: 'Product Sans', sans-serif;

  font-family: var(--font-family);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: $_body-text-color;
  background-color: $_bg--color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  margin: 0;
}

main > section {
  margin-bottom: 48px;
}

@media only screen and (min-width: 1200px) {
  body {
    gap: 80px;
  }

  main {
    gap: 80px;
  }
}
