.benefits-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.benefits-title {
  background: linear-gradient(180deg, #145ca4 42.79%, #2597f3 74.04%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @include media(desktop) {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 40px;
    letter-spacing: -0.02em;
  }
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  @include media(desktop) {
    gap: 24px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.benefit-card {
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 8px;
  padding: 8px 16px;
  border-radius: 15px;
  background: #fff;
  @include media(desktop) {
    gap: 16px;
    border-radius: 20px;
    padding: 16px;
    width: 336px;
    height: 227px;
  }
}

.benefit-header {
  display: flex;
  align-self: flex-start;
  align-items: center;
  gap: 8px;
  @include media(desktop) {
    flex-direction: column;
  }
}

.benefits-icon {
  border-radius: 40px;
  width: 50px;
  height: 50px;
  padding: 10px;
  background: #f7f7f7;
  fill: #d10003;
}
