/* Styles for Mobile devices */
.section {
  scroll-margin-top: 48px;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
  width: 320px;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .container {
    padding: 0 72px;
    width: 1200px;
  }

  .section {
    scroll-margin-top: 80px;
  }
}
