.faq-head {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 24px;
  letter-spacing: -0.02em;
  background: linear-gradient(180deg, #145ca4 42.79%, #2597f3 74.04%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.faq-list-item {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 8px 16px;
  background: #fff;
}

.faq-item-head {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #1c1c1c;
}

.faq-ansver-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.faq-answer {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #24292e;
  margin-top: 16px;
}

.faq-list-item[data-is-open='true'] .faq-ansver-wrapper {
  max-height: 200px;
}

.faq-wrapper {
  margin-right: 12px;
}

.faq-spoiler-button {
  display: block;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}

.faq-list-item[data-is-open] .faq-spoiler-button .faq-spoiler-arrow {
  transition: transform 0.5s ease-in-out;
}

.faq-list-item[data-is-open='true'] .faq-spoiler-button .faq-spoiler-arrow {
  transform: rotate(-90deg);
}

.faq-spoiler-arrow {
  width: 24px;
  height: 24px;
}

@include media(desktop) {
  .faq-head {
    font-size: 40px;
  }

  .faq-list {
    gap: 24px;
  }

  .faq-list-item {
    border-radius: 16px;
    padding: 16px;
  }

  .faq-item-head {
    font-size: 20px;
  }

  .faq-answer {
    margin-top: 24px;
    font-size: 18px;
    line-height: 144%;
  }

  .faq-list-item[data-is-open='true'] .faq-ansver-wrapper {
    max-height: 100px;
  }

  .faq-wrapper {
    padding-top: 4px;
    margin-right: 12px;
  }

  .faq-spoiler-button {
    width: 32px;
    height: 32px;
  }

  .faq-spoiler-arrow {
    width: 32px;
    height: 32px;
  }
}
