.gallery-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.gallery-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  letter-spacing: -0.02em;
  order: 0;
  @include font(24, 28);
  background: linear-gradient(180deg, #145ca4 42.79%, #2597f3 74.04%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
  @include media(desktop) {
    @include font(40, 55);
  }
}

.gallery-description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  order: 1;
  margin-bottom: 8px;
  border-radius: 10px;
  padding: 16px;
  width: 288px;
  height: 98px;
  background: #fff;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: #24292e;
  @include font(14, 22);
  @include media(desktop) {
    order: 2; // Текст після зображення
    margin: 0 auto;
    margin-top: 16px;
    border-radius: 15px;
    width: 350px;
    height: 110px;
    @include font(18, 26);
  }
}

.gallery-swiper {
  overflow: hidden;
  order: 3;
  @include media(desktop) {
    order: 1; //Зображення перед текстом
  }
}

.gallery-list {
  display: flex;
  margin-bottom: 16px;
}

.gallery-screenshot-thumb {
  overflow: hidden;
  border-radius: 16px;
  width: 260px;
  height: 480px;
  @include media(desktop) {
    border-radius: 20px;
    width: 350px;
    height: 600px;
  }
}

.gallery-slide-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

[data-gallery-pagination] {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.gallery-description-list {
  position: relative;
  width: 100%;
  height: 100%;
}

.gallery-description-item {
  position: absolute;
  transition: opacity 0.3s ease-in;
}

//.swiper-slide-active {transform: scale(1.2);}

.swiper-slide:not(.swiper-slide-active) {
  transform: scale(0.8);
  transition: transform 0.3s ease-in;
}

[data-is-visible='true'] {
  opacity: 1;
  z-index: 5;
  // transition: opacity 0.3s ease-in 0.3s;
}

[data-is-visible='false'] {
  opacity: 0;
  z-index: 1;
  // transition: opacity 0.3s ease-in;
}

.gallery-swiper-button-nav {
  display: none;
  @include media(desktop) {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: transparent;
    border: none;
    outline: none;
    bottom: 402px;
  }
}

@include media(desktop) {
  .gallery-pagination {
    display: none;
  }

  .gallery-swiper-button-icon {
    display: block;
    stroke: #24292e;
  }

  [data-gallery-swipe-left] {
    left: 8px;
  }

  [data-gallery-swipe-right] {
    right: 8px;
  }

  [data-gallery-swipe-left] .gallery-swiper-button-icon {
    transform: rotate(180deg);
  }
}
