a[data-visibility='true'] {
  color: $_button-color;
  position: relative;
}

a[data-visibility='true']::before {
  opacity: 1;
  transform: scaleX(1);
  transition: 0.5s ease-in;
  transition-property: opacity, transform;
}

a[data-visibility='false']::before {
  // opacity: 0;
}

.header-nav-link::before {
  content: '';
  position: absolute;
  width: 112%;
  height: 4px;
  background-color: $_button-color;
  border-radius: 2px;
  left: -6%;
  bottom: 18px;
  transition: 0.5s ease-in;
  transform: scaleX(0);
  // opacity: 0;
  transition-property: transform;
}

.header {
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 48px;
  backdrop-filter: blur(12px);
  box-shadow: 0 6px 12px 0 rgba(151, 151, 151, 0.2);
  background: rgba(255, 255, 255, 0.8);
}

.header-container {
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.burger-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 32px;
  height: 32px;
}

.burger-menu-button-icon {
  padding: 0;
  fill: $_other-elements-color;
}

.thumb {
  border-radius: 3px;
  overflow: hidden;
}

.nav {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .header {
    height: 80px;
  }

  .nav {
    display: block;
  }

  [data-class='burger-btn'] {
    display: none;
  }

  [data-class='modal-window'] {
    display: none;
  }

  .nav-links {
    display: flex;
    gap: 24px;
    margin: auto 0;
  }

  .header-nav-link {
    position: relative;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    padding: 26px 0;
    transition: color 0.3s ease-in;
  }

  .header-nav-link:hover,
  .header-nav-link:focus-visible {
    color: $_hover-button-color;
  }

  .header-nav-link:active {
    color: $_pressed-button-color;
  }
}
