html[data-scroll-lock='true'] {
  overflow: hidden;
}

.modal-window {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
  z-index: 1000;
  transition: 0.5s ease-in;
  transition-property: opacity;
}

div[data-action='isClose'] {
  pointer-events: none;
  opacity: 0;
}

.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease-in;
  transition-property: transform;
}

.modal-wrapper {
  padding: 24px;
  padding-left: calc(((100vw - 320px) / 2) + 24px);
  width: calc(((100vw - 320px) / 2) + 254px);
  height: 100vh;
  backdrop-filter: blur(12px);
  box-shadow: 0 6px 12px 0 rgba(151, 151, 151, 0.2);
  background: rgba(255, 255, 255, 0.7);
  // transform: translateX(-100%);
}

div[data-action='isClose'] > .modal-wrapper {
  transform: translateX(-100%);
}

.close-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 32px;
  height: 32px;
  margin-left: auto;
  margin-bottom: 16px;
}

.close-menu-button-icon {
  stroke: #1e1e1e;
  fill: #1e1e1e;
}

.modal-nav-link {
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #545454;
}

.modal-nav-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media only screen and (min-width: 1200px) {
  .modal-window {
    display: none;
  }
}
