.policy-nav {
  padding-top: 48px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #1873cd;
}

.policy-nav:active {
  color: #0e4376;
}

.policy-container {
  padding: 48px 16px;
}

.policy-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 24px;
  letter-spacing: -0.02em;
  background: linear-gradient(180deg, #145ca4 42.79%, #2597f3 74.04%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
