.policy-nav {
  padding-top: 48px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #1873cd;
}

.policy-nav:active {
  color: #0e4376;
}

.policy-back-link {
  display: flex;
  align-items: center;
  gap: 8px; /* Відступ між іконкою та текстом */
  text-decoration: none;
  color: black;
}

.policy-back-icon {
  width: 16px; /* Або будь-який інший розмір */
  height: 16px;
  fill: currentColor; /* Колір SVG як у тексту */
}

.policy-container {
  padding: 48px 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.policy-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 24px;
  letter-spacing: -0.02em;
  background: linear-gradient(180deg, #145ca4 42.79%, #2597f3 74.04%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.policy-content-wrap {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

article.policy-container p,
article.policy-container li {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: #24292e;
}

article.policy-container h2 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.57;
  color: #24292e;
}

.bold-text {
  font-weight: 600;
}

.policy-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
