.policy-nav {
  padding-top: 48px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: #1873cd;
  @include font(14, 22);

  @include media(desktop) {
    @include font(18, 26);
    padding-top: 100px;
  }
}

.policy-nav:active {
  color: #0e4376;
}

.policy-back-link {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

.policy-back-icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.policy-container {
  padding: 32px 16px 48px 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(desktop) {
    padding: 60px 72px 80px 72px;
    gap: 40px;
  }
}

.policy-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 24px;
  letter-spacing: -0.02em;
  background: linear-gradient(180deg, #145ca4 42.79%, #2597f3 74.04%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @include media(desktop) {
    @include font(40, 55);
  }
}

.policy-content-wrap {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

article.policy-container p,
article.policy-container li {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: #24292e;

  @include media(desktop) {
    @include font(18, 26);
  }
}

article.policy-container h2 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.57;
  color: #24292e;

  @include media(desktop) {
    @include font(18, 26);
  }
}

.bold-text {
  font-weight: 600;
}

.policy-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
