.reviews-head {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 24px;
  letter-spacing: -0.02em;
  background: linear-gradient(180deg, #145ca4 42.79%, #2597f3 74.04%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
}

.reviews-list {
}

.reviews-slide-item {
}

.slider-container {
}

.review-avatar {
}

.review-name {
}

.review-description {
}
