@import './base.scss';
@import './container.scss';
@import './header.scss';
@import './hero.scss';
@import './benefits.scss';
@import './feature.scss';
@import './about.scss';
@import './howto.scss';
@import './reviews.scss';
@import './gallery.scss';
@import './footer.scss';

:root {
  --font-family: 'Work Sans', sans-serif;
  --second-family: 'Nunito', sans-serif;
  --third-family: 'Product Sans', sans-serif;

  font-family: var(--font-family);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: $_body-text-color;
  background-color: $_bg--color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
